# Composer
composer.phar
/vendor/

# IDE
.vscode

# Default yearbook and upload dir
/yearbooks
/uploads

# User generated info about instance
/config/*

# Lang cache
/lang/cache/*

# Ignore all custom themes, allow default, common and getThemes
themes/*
!themes/common
!themes/default
!themes/getThemes.php
