# Composer
composer.phar
/vendor/

# IDE
.vscode

# Default yearbook and upload dir
/yearbooks/*
!/yearbooks/getBanner.php
!/yearbooks/getYearbooks.php

# Upload dir
/uploads

# User generated info about instance
/config

# Lang cache
/lang/cache

# Ignore all custom themes, allow default, common and getThemes
/themes/*
!/themes/common
!/themes/default
!/themes/getThemes.php
