.figure_teacher, .figure_student, .figure_gallery {
  transition: transform .2s;
}

.figure_teacher:hover, .figure_student:hover, .figure_gallery:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.hero-video video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: cover;
}

.hero-video{
  pointer-events: none;
}